# Bài tập số 2 (Pandas)

### Trước khi bắt đầu và sau khi code xong, chọn 'Kernel'->'Restart Kernel and Run All Cells' để có thể chấm điểm chính xác.
### Các bạn viết code vào các cell trả lời.  
### Cell nào cho ra đúng kết quả sẽ có thêm đoạn ===== Done =====

In [1]:
# Không được động vào cell này
from ipywidgets import widgets
from IPython.display import HTML,Javascript, display
from IPython.core.magic import register_cell_magic
from IPython.utils.capture import capture_output
from IPython import get_ipython
from IPython.core import magic_arguments

response = ''
score = [0]*11

def popup(text):
    display(HTML("<script>alert('{}');</script>".format(text)))

def final_score(score):
    final = 'Diem so la: ' +  str(sum(score)) + '/10'
    print(final)
    popup(final)

@magic_arguments.magic_arguments()
@magic_arguments.argument('output', type=str, default='', nargs='?',
    help="""The name of the variable in which to store output.
    This is a utils.io.CapturedIO object with stdout/err attributes
    for the text of the captured output.
    CapturedOutput also has a show() method for displaying the output,
    and __call__ as well, so you can use that to quickly display the
    output.
    If unspecified, captured output is discarded.
    """
)
@magic_arguments.argument('--no-stderr', action="store_true",
    help="""Don't capture stderr."""
)
@magic_arguments.argument('--no-stdout', action="store_true",
    help="""Don't capture stdout."""
)
@magic_arguments.argument('--no-display', action="store_true",
    help="""Don't capture IPython's rich display."""
)    


@register_cell_magic
def tee(line, cell):
    args = magic_arguments.parse_argstring(tee, line)
    out = not args.no_stdout
    err = not args.no_stderr
    disp = not args.no_display
    with capture_output(out, err, disp) as io:
        get_ipython().run_cell(cell)
    if args.output:
        get_ipython().user_ns[args.output] = io
    
    io()

@register_cell_magic('cauhoi')
def cauhoi(line, cell):
        get_ipython().run_cell(cell)
        check[int(line)]()
        
def cau1():
    find = str(response).find('Đã khai báo thư viện thành công')
    if find >=0 :
        score[1] = 1
        print('===== Done =====')
    else:
        score[1] = 0
def cau2():
    find = str(response).find('Đã nhập dữ liệu thành công')
    if find >=0 :
        score[2] = 1
        print('===== Done =====')
    else:
        score[2] = 0
def cau3():
    find = str(response).find('RangeIndex: 325 entries, 0 to 324')
    if find >=0 :
        score[3] = 1
        print('===== Done =====')
    else:
        score[3] = 0
def cau4():
    find1 = str(response).find('325')
    find2 = str(response).find('74')
    if ((find1 >=0) & (find2 >= 0)) :
        score[4] = 1
        print('===== Done =====')
    else:
        score[4] = 0
def cau5():
    find = str(response).find('Nơi sinh       TỔNG\nTổng         910232')
    if find >=0 :
        score[5] = 1
        print('===== Done =====')
    else:
        score[5] = 0
def cau6():
    find1 = str(response).find('      2015   2016   2017   2018\n0      NaN    NaN    NaN    NaN')
    find2 = str(response).find('323  453.0  444.0  333.0  234.0')
    find3 = str(response).find('324  27585.0  31956.0  36450.0  35737.0')
    # print(find1, ' ', find2, ' ', find3)
    if (find1 >=0) & (find2 >=0) & (find3 <0):
        score[6] = 1
        print('===== Done =====')
    else:
        score[6] = 0
def cau7():
    find1 = str(response).find('\n Nơi sinh\nEngland          177913\nIndia             67243\nSouth Africa      61152\nChina             58987\nFiji              51811\nWestern Samoa     45347\nPhilippines       38717\nSamoa             34787\nScotland          25632\nKorea             20993\n')
    find2 = str(response).find('India             4665.0\nEngland           3974.0\nPhilippines       3565.0\nFiji              3242.0\nSouth Africa      2894.0\nSamoa             2871.0\nChina             1210.0\nUnited Kingdom    1191.0\nTonga              684.0\nAustralia          679.0\n')
    find3 = str(response).find('21')
    find4 = str(response).find('20')
    if (find1 >=0) & (find2 >=0) & (find3 >0) & (find3 >0):
        score[7] = 1
        print('===== Done =====')
    else:
        score[7] = 0
def cau8():
    find = str(response).find('\nName: 2020, Length: 325, dtype: int32\n')
    if find >=0 :
        score[8] = 1
        print('===== Done =====')
    else:
        score[8] = 0
def cau9():
    # find = str(response).find('Đã nhập dữ liệu thành công')
    try:
        if (data['Nơi sinh'][324] == 'Zodiac') & (data.loc[324,'1949':].notnull().values.any()) :
            score[9] = 1
            print('===== Done =====')
        else:
            score[9] = 0
    except:
        score[9] = 0
def cau10():
    # find = str(response).find('Đã nhập dữ liệu thành công')
    try:
        if (data['Nơi sinh'][323] == 'Zimbabwe') & (data['Tổng'][323] != 8284.0) & (data['%'][323] != '0.91%') :
            score[10] = 1
            print('===== Done =====')
        else:
            score[10] = 0
    except:
        score[10] = 0
    
check = {1: cau1, 2:cau2, 3: cau3, 4: cau4, 5: cau5, 6: cau6, 7: cau7, 8: cau8, 9: cau9, 10: cau10}

## Câu 1. Khai báo thư viện pandas, numpy. Sau đó xuất ra thông báo: 'Đã khai báo thư viện thành công'

In [1]:
%%cauhoi 1
%%tee response
# Code dưới dòng này

UsageError: Cell magic `%%cauhoi` not found.

In [2]:
import pandas as pd
import numpy as np
print("Đã khai báo thư viện thành công")

Đã khai báo thư viện thành công

## Câu 2. Nhập dữ liệu dân số nhập cư 'granted-citizenship-1949-2019.csv', biến tên data. Hiển thị dữ liệu. Sau đó xuất ra thông báo: 'Đã nhập dữ liệu thành công'

In [3]:
%%cauhoi 2
%%tee response
# Code dưới dòng này

UsageError: Cell magic `%%cauhoi` not found.

In [5]:
data = pd.read_csv('granted-citizenship-1949-2019.csv', encoding = 'ISO-8859-1')
data.head()
print("Đã nhập dữ liệu thành công")

Đã nhập dữ liệu thành công

## Câu 3. Tìm hiểu các thống kê cơ bản về dữ liệu. Xuất ra đánh giá của bạn về dữ liệu này.

In [4]:
%%cauhoi 3
%%tee response
# Code dưới dòng này

In [6]:
data.describe(include ='all')

,Country of Birth,Total,%,1949,1950,1951,1952,1953,1954,1955,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,325,325.000000,325,118.000000,40.000000,48.000000,46.000000,51.000000,60.000000,62.000000,...,166.000000,186.000000,204.000000,197.000000,201.000000,197.000000,203.000000,204.000000,204.000000,196.000000
unique,325,NaN,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Aden,NaN,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,5601.427692,NaN,315.745763,11.500000,15.375000,16.869565,15.294118,21.033333,25.741935,...,182.867470,207.387097,266.872549,283.197970,277.522388,280.050761,314.837438,357.352941,350.362745,316.632653
std,NaN,51900.477917,NaN,1947.403330,36.237818,53.615901,58.568330,55.368689,82.390341,103.046215,...,1208.926419,1457.832534,1954.901823,2036.462806,2015.610593,2014.836158,2297.289354,2613.730896,2558.695865,2270.879366
min,NaN,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,11.000000,NaN,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
50%,NaN,110.000000,NaN,3.000000,3.000000,3.500000,3.000000,4.000000,4.000000,4.500000,...,7.000000,9.500000,9.000000,12.000000,12.000000,12.000000,11.000000,13.000000,14.500000,16.000000
75%,NaN,792.000000,NaN,13.750000,6.500000,11.000000,10.000000,8.500000,11.000000,17.000000,...,34.750000,40.500000,50.750000,62.000000,62.000000,67.000000,67.500000,73.500000,81.500000,76.500000
max,NaN,910232.000000,NaN,18629.000000,230.000000,369.000000,388.000000,390.000000,631.000000,798.000000,...,15178.000000,19287.000000,27221.000000,27895.000000,27891.000000,27585.000000,31956.000000,36450.000000,35737.000000,31030.000000

## Câu 4. Xuất ra số dòng và số cột của dữ liệu.

**Gợi ý:**

In [5]:
# nhớ dùng print(...) để chương trình có thể chấm điểm

In [6]:
%%cauhoi 4
%%tee response
# Code dưới dòng này

## Câu 5. Việt hóa một số từ "Country of Birth" -> "Nơi sinh", "Total" -> "Tổng", "TOTAL" -> "TỔNG". Hiển thị bảng. 
## Truy xuất dòng 'TỔNG' dùng .loc[...].

**Gợi ý:**

In [7]:
# Nhớ dùng hàm print() để chương trình tính được điểm

In [8]:
%%cauhoi 5
%%tee response
# Code dưới dòng này

## Câu 6. Hiển thị (print) số lượng nhập cư các nước từ năm 2015 đến 2018 dùng hàm .loc[...]

**Gợi ý:**

In [9]:
#Không chứa hàng cuối

In [10]:
%%cauhoi 6
%%tee response
# Code dưới dòng này

## Câu 7. a) Xuất ra 10 nước có lượng người nhập cư vào New Zealand cao nhất chỉ tính riêng năm 2017 và b) trong toàn bộ lịch sử theo dõi. c) Nếu chỉ xét năm 2017, Việt Nam có bao nhiêu người nhập cư thành công và xếp thứ mấy trên bảng xếp hạng? d) Câu hỏi tương tự nếu xét toàn bộ lịch sử theo dõi.

**Gợi ý:**

In [11]:
# a) Dùng lệnh df.groupby('Cột 1')['Cột 2'].sum().sort_values(ascending=False) để tạo ra 1 DataFrame (hoặc Series) mới có cột index là nội dung của 'Tên cột 1', nội dung là 'nội dung' của 'Cột 2'
# b) 'Cột 2' là '2017'
# Chú ý: "TỔNG" không phải là nước

In [12]:
%%cauhoi 7
%%tee response
# Code dưới dòng này

## Câu 8. Thêm dữ liệu năm 2020 vào cuối bảng. Giá trị điền vào là số nguyên ngẫu nhiên từ 0 cho đến 300. Hiển thị bảng. Truy xuất cột năm 2020 dùng hàm .loc[...]. Bạn có thấy vấn đề của bảng mới này ở đâu không?

**Gợi ý:**

In [13]:
# dùng hàm np.random.randint(low, high, size, dtype=int) trong đó low là số thấp nhất, high là số cao nhất, size là số lượng
# nhớ dùng print(...) để chương trình có thể chấm điểm

In [14]:
%%cauhoi 8
%%tee response
# Code dưới dòng này

## Câu 9. Thêm nước Zodiac vào sau nước Zimbabwe. Giá trị điền vào là số ngẫu nhiên từ 0 cho đến 600. Hiển thị bảng. Bạn có thấy vấn đề của bảng mới này ở đâu không?

In [15]:
%%cauhoi 9
%%tee response
# Code dưới dòng này

## Câu 10. Hãy tính toán lại các cột 'Tổng', '%', và hàng 'TỔNG' sao cho đúng. Hiển thị bảng.
## Thực hiện các phép tính tương tự như câu 7, hãy đánh giá xem các số liệu được thêm vào ảnh hưởng thế nào tới kết quả.

**Gợi ý:**

In [16]:
# dùng dữ-liệu.sum(axis=0 hoặc 1) để tính tổng, trong đó 0 hoặc 1 là hướng tính tổng theo chiều dọc hoặc chiều ngang
# Chuyển đổi float sang số% và ngược lại, tham khảo https://levelup.gitconnected.com/convert-percentage-string-to-numeric-and-vice-versa-in-pandas-18a3d66e2853

In [17]:
%%cauhoi 10
%%tee response
# Code dưới dòng này

# Tính điểm

In [18]:
final_score(score)

Diem so la: 0/10