In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding = 'ISO-8859-1')

print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)

data2 = pd.read_csv('FoodPrice_in_Turkey.csv',  header=0, encoding = 'UTF-8')
display(data2)

******************** Nhập dữ liệu thành công ********************

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
data.info()
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [3]:
#xác định số hàng và số cột
data.shape[0]#cột
data.shape[1]#hàng

8

In [4]:
#xác định tên các cột
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [5]:
#đổi tên chỉ 1 cột xđ
data.rename(columns = {'Place': 'Địa điểm'}, inplace = True)
data

,Địa điểm,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [6]:
#đổi tên toàn bộ các cột
data.columns = ['Địa điểm', 'Mã SP', 'Tên SP', 'Đơn vị', 'Tên ĐV', 'Tháng', 'Năm', 'Giá']
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [7]:
#thêm cột mới vào cuối
data['Cột mới'] = np.nan
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,Tháng,Năm,Giá,Cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [8]:
#thêm 1 cột vào giữa các cột
data.insert(8,'chiết khấu (%)', np.random.randint(0,20, size=(data.shape[0], 1)))
display(data)
data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,Tháng,Năm,Giá,chiết khấu (%),Cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,10,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,11,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,0,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,19,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,9,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,18,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,19,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,11,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,13,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,0,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7381 non-null   object
 1   Mã SP           7381 non-null   int64
 2   Tên SP          7381 non-null   object
 3   Đơn vị          7381 non-null   int64
 4   Tên ĐV          7381 non-null   object
 5   Tháng           7381 non-null   int64
 6   Năm             7381 non-null   int64
 7   Giá             7381 non-null   float64
 8   chiết khấu (%)  7381 non-null   int32
 9   Cột mới         0 non-null      float64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 547.9+ KB

In [9]:
data.insert(5,'So Luong',10)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Cột mới
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,10,NaN
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,11,NaN
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,0,NaN
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,19,NaN
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,18,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,19,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,11,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,13,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,0,NaN

In [10]:
#thêm cột giảm giá 10%
data['Giảm giá 10%'] = pd.Series('10%', index=data.index)
data
#hoặc
data.insert(11,'Giảm giá 2',pd.Series('12%', index=data.index))
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Cột mới,Giảm giá 2,Giảm giá 10%
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,10,NaN,12%,10%
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,11,NaN,12%,10%
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,0,NaN,12%,10%
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,19,NaN,12%,10%
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,9,NaN,12%,10%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,18,NaN,12%,10%
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,19,NaN,12%,10%
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,11,NaN,12%,10%
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,13,NaN,12%,10%
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,0,NaN,12%,10%

In [11]:
#Thêm 1 dòng mới
data=data.append({'Địa điểm':'NA','Mã SP':'RR','Tên SP':'Rice','Đơn vị':10,'Tên ĐV':'KG','Tháng':6,'Năm':2021,
                  'Giá':84.3785, 'Giảm giá 2':'12%','Giảm giá':'10%'},ignore_index=True)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Cột mới,Giảm giá 2,Giảm giá 10%,Giảm giá
0,National Average,52,Rice - Retail,5,KG,10.0,5,2013,4.4920,10.0,NaN,12%,10%,NaN
1,National Average,52,Rice - Retail,5,KG,10.0,6,2013,4.5786,11.0,NaN,12%,10%,NaN
2,National Average,52,Rice - Retail,5,KG,10.0,11,2013,4.7865,0.0,NaN,12%,10%,NaN
3,National Average,52,Rice - Retail,5,KG,10.0,12,2013,5.1337,19.0,NaN,12%,10%,NaN
4,National Average,52,Rice - Retail,5,KG,10.0,1,2014,5.5099,9.0,NaN,12%,10%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,9,2019,49.1176,19.0,NaN,12%,10%,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,10,2019,50.8347,11.0,NaN,12%,10%,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,11,2019,51.7985,13.0,NaN,12%,10%,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,12,2019,51.6071,0.0,NaN,12%,10%,NaN
7381,NA,RR,Rice,10,KG,NaN,6,2021,84.3785,NaN,NaN,12%,NaN,10%

In [12]:
#Xoá một cột
del data['Cột mới']
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Giảm giá 2,Giảm giá 10%,Giảm giá
0,National Average,52,Rice - Retail,5,KG,10.0,5,2013,4.4920,10.0,12%,10%,NaN
1,National Average,52,Rice - Retail,5,KG,10.0,6,2013,4.5786,11.0,12%,10%,NaN
2,National Average,52,Rice - Retail,5,KG,10.0,11,2013,4.7865,0.0,12%,10%,NaN
3,National Average,52,Rice - Retail,5,KG,10.0,12,2013,5.1337,19.0,12%,10%,NaN
4,National Average,52,Rice - Retail,5,KG,10.0,1,2014,5.5099,9.0,12%,10%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,9,2019,49.1176,19.0,12%,10%,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,10,2019,50.8347,11.0,12%,10%,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,11,2019,51.7985,13.0,12%,10%,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10.0,12,2019,51.6071,0.0,12%,10%,NaN
7381,NA,RR,Rice,10,KG,NaN,6,2021,84.3785,NaN,12%,NaN,10%

In [13]:
#xoá cột sử dụng phương thức pop
#trả về cột đã xoá
data.pop('Đơn vị')

0        5
1        5
2        5
3        5
4        5
        ..
7377     5
7378     5
7379     5
7380     5
7381    10
Name: Đơn vị, Length: 7382, dtype: int64

In [14]:
#xoá 1 cột sử dụng phương thức drop
# Trong đó axis = 1 là xóa cột; inplace = True xóa trục tiếp trên dữ liệu gốc mà không phải tạo bản sao
data.drop('Giảm giá', axis=1, inplace=True)
data

,Địa điểm,Mã SP,Tên SP,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Giảm giá 2,Giảm giá 10%
0,National Average,52,Rice - Retail,KG,10.0,5,2013,4.4920,10.0,12%,10%
1,National Average,52,Rice - Retail,KG,10.0,6,2013,4.5786,11.0,12%,10%
2,National Average,52,Rice - Retail,KG,10.0,11,2013,4.7865,0.0,12%,10%
3,National Average,52,Rice - Retail,KG,10.0,12,2013,5.1337,19.0,12%,10%
4,National Average,52,Rice - Retail,KG,10.0,1,2014,5.5099,9.0,12%,10%
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,KG,10.0,9,2019,49.1176,19.0,12%,10%
7378,Izmir,502,Cocoa (powder) - Retail,KG,10.0,10,2019,50.8347,11.0,12%,10%
7379,Izmir,502,Cocoa (powder) - Retail,KG,10.0,11,2019,51.7985,13.0,12%,10%
7380,Izmir,502,Cocoa (powder) - Retail,KG,10.0,12,2019,51.6071,0.0,12%,10%
7381,NA,RR,Rice,KG,NaN,6,2021,84.3785,NaN,12%,NaN

In [15]:
#xoá các dòng
data.drop(1, axis = 0, inplace=True)
data

,Địa điểm,Mã SP,Tên SP,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Giảm giá 2,Giảm giá 10%
0,National Average,52,Rice - Retail,KG,10.0,5,2013,4.4920,10.0,12%,10%
2,National Average,52,Rice - Retail,KG,10.0,11,2013,4.7865,0.0,12%,10%
3,National Average,52,Rice - Retail,KG,10.0,12,2013,5.1337,19.0,12%,10%
4,National Average,52,Rice - Retail,KG,10.0,1,2014,5.5099,9.0,12%,10%
5,National Average,52,Rice - Retail,KG,10.0,2,2014,5.8146,10.0,12%,10%
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,KG,10.0,9,2019,49.1176,19.0,12%,10%
7378,Izmir,502,Cocoa (powder) - Retail,KG,10.0,10,2019,50.8347,11.0,12%,10%
7379,Izmir,502,Cocoa (powder) - Retail,KG,10.0,11,2019,51.7985,13.0,12%,10%
7380,Izmir,502,Cocoa (powder) - Retail,KG,10.0,12,2019,51.6071,0.0,12%,10%
7381,NA,RR,Rice,KG,NaN,6,2021,84.3785,NaN,12%,NaN

In [16]:
# Xóa các dòng có chỉ số 7377 và 7379 sử dụng phương thức drop()
data.drop([7377,7379], inplace=True)
data

,Địa điểm,Mã SP,Tên SP,Tên ĐV,So Luong,Tháng,Năm,Giá,chiết khấu (%),Giảm giá 2,Giảm giá 10%
0,National Average,52,Rice - Retail,KG,10.0,5,2013,4.4920,10.0,12%,10%
2,National Average,52,Rice - Retail,KG,10.0,11,2013,4.7865,0.0,12%,10%
3,National Average,52,Rice - Retail,KG,10.0,12,2013,5.1337,19.0,12%,10%
4,National Average,52,Rice - Retail,KG,10.0,1,2014,5.5099,9.0,12%,10%
5,National Average,52,Rice - Retail,KG,10.0,2,2014,5.8146,10.0,12%,10%
...,...,...,...,...,...,...,...,...,...,...,...
7375,Izmir,502,Cocoa (powder) - Retail,KG,10.0,7,2019,47.4010,1.0,12%,10%
7376,Izmir,502,Cocoa (powder) - Retail,KG,10.0,8,2019,47.9040,18.0,12%,10%
7378,Izmir,502,Cocoa (powder) - Retail,KG,10.0,10,2019,50.8347,11.0,12%,10%
7380,Izmir,502,Cocoa (powder) - Retail,KG,10.0,12,2019,51.6071,0.0,12%,10%
7381,NA,RR,Rice,KG,NaN,6,2021,84.3785,NaN,12%,NaN