In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('GDPlist.csv', encoding = 'ISO-8859-1')
data

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.0+ KB

In [5]:
# Bộ dữ liệu gồm 125 dòng, 3 cột, 3 thuộc tính

In [8]:
GDP_min = data['GDP (millions of US$)'].min()
GDP_max = data['GDP (millions of US$)'].max()
print('GDP_min = ',GDP_min)
print('GDP_max = ',GDP_max)

GDP_min =  10600
GDP_max =  15094025

In [11]:
# Xu hướng phân bố dữ liệu của GDP
data.describe()

       GDP (millions of US$)
count           1.250000e+02
mean            5.554278e+05
std             1.649266e+06
min             1.060000e+04
25%             2.574200e+04
50%             9.608900e+04
75%             3.332380e+05
max             1.509402e+07

In [13]:
print('Châu lục xuất hiện nhiều nhất là: ', data['Continent'].mode())

Châu lục xuất hiện nhiều nhất là:  0    Europe
dtype: object

In [17]:
df1 = data.pivot_table(values = 'GDP (millions of US$)', index = 'Continent', aggfunc = 'sum')
df1

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [22]:
df1.rename(columns = {'Continent': 'Tên châu lục', 'GDP (millions of US$)': 'Tổng GDP'}, inplace = True)
df1.head()

               Tổng GDP
Continent
Africa          1820811
Asia           24425891
Europe         19139380
North America  18238447
Oceania         1662727

In [19]:
df2 = data.pivot_table(values = 'GDP (millions of US$)', index = 'Continent', aggfunc = 'mean')
df2

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

In [23]:
df2.rename(columns = {'Continent': 'Tên châu lục', 'GDP (millions of US$)': 'TBC GDP'}, inplace = True)
df2.head()

                    TBC GDP
Continent
Africa         6.278659e+04
Asia           6.784970e+05
Europe         5.172805e+05
North America  1.658041e+06
Oceania        5.542423e+05

In [24]:
df = pd.concat([df1, df2], axis = 1)
df

               Tổng GDP       TBC GDP
Continent
Africa          1820811  6.278659e+04
Asia           24425891  6.784970e+05
Europe         19139380  5.172805e+05
North America  18238447  1.658041e+06
Oceania         1662727  5.542423e+05
South America   4141217  4.601352e+05